.btn {
  color:red;
}

body {
  background-color: ;
}


#liberal  {
  display: none;
}

#moderate {
  display: none;
}

#conservative {
  display: none;
}

#Conservative {
  display: none;
}

#Moderate {
  display: none;
}